*{
    /*background: rgba(0,0,0,0.2);*/
}
@font-face {
    font-family: "Lato";
    src:url("untitled-font-1/Lato-Light.ttf");
}
nav.navbar> * {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-bottom: solid 1px black;
}
nav.navbar.transparent {
    height:8.5%;
    background: rgb(42, 42, 42);
    color:white;
    border-bottom-width:0px;

}
nav.navbar-inverse {
    /*height:56px;*/
    /*background-color:white;*/
    border-bottom-style:solid;
    border-bottom-width:1p  x;
    border-color: #E0E0 E0;

}

a.navbar-brand{
    font-size:23px;

}

.norm{
    font-size:22px !important;
}
.item{
    height:100%;
}
.nav-link{
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    text-decoration:none;
    color:black;
    /*height:100%;*/
}
.nav-link:hover{
    color:#fff;
    background-color:#42A5F5;
}
.act{
    color: #fff;
    background: #42A5F5;
}
.act1{
    color: #000 !important;
    background: #fff !important;
}
.downlink{
    color:white;
}
.downlink:hover{
    background-color:white;
    color:black;
}

.btn:active,
.btn:focus {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.icon-logo1{
    font-size: 60px;
}
.navbar-brand{
    /*height: 100%;*/
    display:flex;
    align-items: flex-start;
    width: 165px;
    justify-content: space-between;
    padding: 0;
    margin-left: 20px;
}
.brand-name{
    font-size: 35px;
}
.nav{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}
.login{
    display: flex;
    flex: 1;
    float: right;
/*    background: rgba(0,0,0,0.3); */
    height: 100%;
    margin: auto;
}
.login_cont{
    -webkit-transition:box-shadow 0.3s ease;
    transition: 0.3s ease box-shadow;
    height: 70%;
    width: 90%;
    background: #fff;
    border-radius: 5px;
    margin: auto;
    display: flex;
    justify-content: center;
    border: solid #42A5F5 1px;
    align-items: center;
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
}
.login_cont:hover
  {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.cont{
    background: url("templates/skinzy/img/back3.jpg");
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.switch, .disease_label {
    display: inline-block ;
}

.home{
    display: flex;
    flex: 2;
    flex-direction: column;
    /*background: rgba(0,0,0,0.2);*/
    height: 100%;
    margin: auto;
}


.form{
    height: 85%;
    width: 85%;
}
.namebox,.passbox{
    margin-bottom: 10px;
    width: 100%;
}
.log{
    height: 2.5em;
    width: 5em;
    -webkit-transition:all 0.3s ease;
    transition:all 0.3s ease;
    background: none;
    border: solid 1px #42A5F5;
    color: #42A5F5;
}
.log:hover,.log:focus{
    background: #42A5F5;
    color: white;
    outline: none;
}
.temp{
    display: flex;
    margin: auto;
}
.arrow{
    cursor: pointer;
    flex: 5;
    width: 100%;
    text-align: center;
}

.diagram {
    width: 100%;
    height: auto;
    vertical-align: top;
    margin: 4% 0px;
}

.body_image {
    height: 100%;
    width: 49%;
    display: inline-block;
}

.cont_row{
    display: flex;
    flex: 95;
}
.step1,.step2,.step3{
    height: 100%;
    width: 100%;
    display: flex;
    margin: auto;
}
.step1c{
    display: flex;
    margin: auto;
    visibility: hidden;
}
.step2c{
    display: flex;
    margin: auto;
    visibility: hidden;
}
.step3c{
    display: flex;
    margin: auto;
    visibility: hidden;
}
.ucontainer{
    height: 91.5%;
    margin-top: 4.25%;gr
}
.unav{
    display: inline-block;
    height: 100%;
    width: 50%;
    background: rgb(30, 67, 104);
    box-shadow: 5px 0 16px rgba(0,0,0,0.2);
    vertical-align: top;
}
.ulist{
    display: flex;
    margin: auto;
}
.filler{
    flex: 15;
}
.listpane{
    flex: 35;
    min-height: 100%;
    padding: 16px;
}

.usort{
    /*background: rgb(29, 62, 98);*/
    flex: 4;
    text-align: center;
    color: white;
    margin: 8px 32px 8px 32px;
    padding: 0px;
    /*border: solid 1px white;*/
    border-radius: 5px;
}
.upload{
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 8 ;
    min-width: 95%;
    min-height: auto;
}

.slider_div,.label_div {
    display: inline-block;
}

.slider_div {
    margin-left: 200px;
}

/* The switch - the box around the slider */
.switch {
    position: absolute;
    right: 0;
    /*display: block;*/
    width: 35px;
    height: 18px;
    margin-right: 5px;
    margin-bottom: 0 !important;
    /*float: right;*/

}

.dropper {
  position: absolute;
  right: 0;
  height: 18px;
  margin-right: 5px;
  /*float: right;*/
  width: auto;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid;
    background-color: #1D3E62;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 3px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #42A5F5;
}

input:focus + .slider {
    box-shadow: 0 0 1px #42A5F5;
}

input:checked + .slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.thumb{
    margin-right: 32px;
    height: 200px;
    width: 200px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.thumb:hover .alt{
    transition: all 0.2s ease;
    cursor: pointer;
    display: block;
}

.alt{
    display: none;
    color: white;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.7);
}
.title{
    height: 100%;
    width: 100%;
    padding: 16px;
}
.car_cont{
    display: flex;
    height: 90%;
    width: 90%;
    margin: auto;
    flex-direction: column
    /*background: rgba(0,0,0,0.2);*/

}
.team{
    margin: auto;
    height: 38%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.doc{
    margin: auto;
    width: 25%;
    height: 35%;
    display: flex;
    flex-direction: column;
}
.pat{
    margin: auto;
    width: 25%;
    height: 40%;
    display: flex;
    flex-direction: column;
}
.vr{
    background: rgba(0,0,0,0.4);
    width: 2px;
    height: 25%;
    margin: auto;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 45px;
    width:160px;
    text-align: center;
    color: white;
    font-weight: bolder;
    background-color: #1D3E62;
    border: solid 2px white;
    cursor: pointer;
}

.submit{
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    border-radius: 5px;
    border: solid 2px white;
    color: white;
    height: 7%;
    width: 30%;
    background: none;
}
.submit:hover{
    background: white;
    color: #1D3E62;
}

/*.button-container {
    width: 520px;
    margin: 100px 0px 0px 100px;
    background: gray;
    overflow-y: auto;
}

.button-container > a {
    width: 100px;
    height: 100px;
    float: left;
    background: white;
    margin: 15px;
}*/
